@charset "UTF-8";
body{
		margin-left:20px;
		margin-right:20px;
		background-image:url(index.jpg);
		
	}
	
#check_out{
	
	
	margin: 10% 40%; 
	width:50%
}

.ssst{
	margin: 10% 20%; 
	
}

table.table-dark{
    						
    	background-color: rgba(98, 98, 98, 0.7);		
    					
}

.wrong-modal{
	position:fixed;
	z-index:1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
	padding-top:20%	;
	display:none;
}

.info-box{
	  background-color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}