.loginPart{
	  width: 320px;
    height: 420px;
    background: rgba(0, 0, 0, 0.7);
	top: 50%;
	left: 50%;
	position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 90px 50px;
	
}



body {
    background:url('1.jpg');
    background-size: 100%;
    top: 0;
    left: 0;
}

.layer {
    background-color: rgba(0,0,0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh; 
    width:  100vw;
}
