@charset "UTF-8";

nav{
  position:fixed;
  width:100%;
  height:50px;
  top:0;
  left:0;
  padding: 10px 50px;
  
  

}

.adv-search{
	display:inline-block;
}
nav.black{
  position:fixed;
  background:black;
	opacity:0.8;

  height:100px;
  padding:10px 100px;

}

.sea{
	position: absolute;
	left: 38%;
	top:  30px;
	float: left;
	height: 100px;
	width: 400px;
	
	display: inline-block; 
}
.sea form{
	display: inline-block;
}
.sea button{
	
	cursor: pointer;
	background-color: #535353;
	height: 40px;
	width:40px;
	border: none;
	
}
nav .tit a{
  padding: 22px 20px;
  height: 80px;
  float: left;
  font-size: 50px;
  top: 0px;
  left: 10px;
  font-family: georgia;
  font-style: italic;
  transition: .3s;
  color:rgb(255,219,0);
  position: absolute;
  text-decoration: none;
}

nav .black .tt{
  color: white;
}

nav ul{
  list-style:none;
  float:right;
  margin:0;
  padding:0;
  display:flex;
}

nav ul li a{
    line-height: 80px;
    color: white;
    padding:5px 15px;
    text-decoration: none;
    text-transform:Capital;
    transition: .3s;
}
#search_form1 input[type=text] {
	display: inline-block;
    
     margin: 0;
     border: none;
     background-color: #535353;
     width: 80%;
     height: 40px;
     color: rgb(255,219,0);
     caret-color: rgb(255,219,0);

}
.search_form1 input[type=text]:focus{
	outline:none
}

::placeholder{
	color:rgb(255,219,0);
	font-size: 18px;
}
.search_form button {
 height: 40px;
 width:40px;
 
  border: none;
  display: inline-block;
  background-color: black;
   cursor: pointer;
   
}
.fa-search{
	color:rgb(255,219,0);
	
}
.fa-list{
	color:rgb(255,219,0);
}
#adv{
	border-right: 5px solid rgb(255,219,0);
}
nav.black ul li a{
  color: #fff;
}
nav ul li a:focus{
  outline:none;
}
nav ul li a.active{
  background: rgb(255,219,0);;
  color: black;
  border-radius:6px;
}
section.sec1{
  width: 100%;
  height: 15vh;
  background-color:black;
  background-size: cover;

}

.dropdown-menu{
	background-color: black;
	opacity: 0.9;
}
.dropdown-menu button{
	width:100%;
}
.form-group label{
	color: rgb(255,219,0);
}
#ss1:hover{
	background-color: rgb(255,219,0);
	font-size: 20px;
}

.scrollable-menu {
    height: auto;
    max-height: 350px;
    overflow-x: hidden;
}
::-webkit-scrollbar { 
    display: none; 
}
.act1{
	background-color: rgb(255,219,0);
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }


.autocomplete-searchbox {
	height: 50px;
	width: 600px;
}