@charset "UTF-8";

#Nav{
    		color: white;
    		background-color: black;
    		opacity:0.8;
    		Height: 50px;
    		width: fit;
    	}
    	#Nav a{
    		color:white;
    		}
    	body{
    		font-family: san-serif;
    		font-size 11pt;
    		background-color: rgb(66,98,163);
    		background-image: url(1.jpg);
  			background-size: cover;
    	}
    	table tr{
    		color: black;
    	}
    	table tr a{
    		color:black;
    	}